$colorNeutral: #555;
$colorAbout: #00a0d6;
$colorProjects: #c6bd25;
$colorContact: #23a01d;
$colorImprint: #d60000;

/* ==========================================================================
   base styles: opinionated defaults
   ========================================================================== */

body {
    background-color: #262626;
    color: #fff;
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    line-height: 24px;    
    /* text-shadow: #000 2px 2px 0; */
}

a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    -ms-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;

    &:hover {
        color: #fff !important;
        text-decoration: none;
    }
}

ul {
    padding: 0;

    li {
        display: inline;
    }
}

address {
    font-style: normal;
}

h5 {
    font-size: 16px;
    margin: 15px 0 3px 0;
}

/*
 * remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}



/* ==========================================================================
   main styles
   ========================================================================== */

.page {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.page section {
    border-left: 1px solid #fff;
    padding-left: 10px;
    width: 689px;

    &.headline { border: none; }
}

/*
 * about (home)
 */

#about {
    h1, h2 {
        font-size: 30px;
        font-weight: normal;
        line-height: 42px;
        margin: 0;
    }

    h1 {
        margin-bottom: 25px;
    }

    h2 {
        strong {
            font-size: 40px;
            font-weight: bold;
        }
    }

    h3 {
        margin: 35px 0 0 0;
    }

    a {
        color: $colorAbout;
        &:hover { background-color: $colorAbout; }
    }

    img {
        border: 1px solid #fff;
        float: left;
        height: 100px;
        margin-right: 10px;
        width: 100px;
    }

    .skills {
        span {
            line-height: normal;
            -webkit-transition: all 0.1s ease-out;
            -moz-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            -ms-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;

            &:hover {
                background-color: $colorAbout;
                cursor: default;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}



/*
 * projects
 */

.project {
    background-color: #262626;

    a {
        color: $colorProjects;
        &:hover { background-color: $colorProjects; }

        &.image {
            &:hover { background-color: transparent; }
        }
    }

    /*
    .arrow {
        -webkit-animation: point-down 0.5s alternate infinite;
        -moz-animation: point-down 0.5s alternate infinite;
        -ms-animation: point-down 0.5s alternate infinite;
        -o-animation: point-down 0.5s alternate infinite;
        animation: point-down 0.5s alternate infinite;
        color: $colorProjects;
        position: relative;
    }
    */
    .arrow {
        border: 1px solid $colorProjects;
        border-radius: 18px;
        display: block;
        float: right;
        font-size: 20px;
        height: 28px;
        padding-top: 4px;
        text-align: center;
        text-decoration: none;
        width: 32px;

        &.down {
            -webkit-transform:rotate(180deg);
            -moz-transform:rotate(180deg);
            -o-transform:rotate(180deg);
            -ms-transform:rotate(180deg);
            transform:rotate(180deg);
        }
    }

    img {
        border: 1px solid #fff;
        height: 78px;
        margin: 4px 10px 0 0;
        width: 78px;

        &:hover { border-color: $colorProjects; }
    }
}

@keyframes "point-down" {
 from {
    top: 0;
 }
 to {
    top: 5px;
 }

}

@-moz-keyframes point-down {
 from {
   top: 0;
 }
 to {
   top: 5px;
 }

}

@-webkit-keyframes "point-down" {
 from {
   top: 0;
 }
 to {
   top: 5px;
 }

}

@-ms-keyframes "point-down" {
 from {
   top: 0;
 }
 to {
   top: 5px;
 }

}

@-o-keyframes "point-down" {
 from {
   top: 0;
 }
 to {
   top: 5px;
 }

}




/*
 * contact
 */

#contact {
    a {
        color: $colorContact;        
        
        &:hover { background-color: $colorContact; }

        &.icon {
            background: url(../img/icons.png) no-repeat 0 0;
            display: block;
            float: left;
            height: 24px;
            margin-right: 8px;
            overflow: hidden;
            text-indent: -32000px;
            width: 24px;

            &:hover     { background-color: transparent; }
            
            &.skype     { background-position: 0 0; }
            &.facebook  { background-position: -28px 0; }
            &.xing      { background-position: -56px 0; }
            &.linkedin  { background-position: -84px 0; }
        }            
    }
}



/*
 * imprint
 */

#imprint {
    line-height: 18px;

    h5 {
        background-color: $colorNeutral;
        display: inline;
        padding: 0 3px;
    }
    p { margin-top: 8px; }
}



/*
 * navigation & footer
 */

 nav, 
 footer {
    background-color: #262626;
    font-size: 12px;
    line-height: normal;
    position: absolute;
    z-index: 50;

    a { text-decoration: none; }
 }

nav {
    left: 50%;
    margin-left: -134px;
    width: 268px;

    a {
        border: {
            bottom: {
                left: { radius: 3px; }
                right: { radius: 3px; }
            }
        }
        
        background-color: $colorNeutral;
        display: block;
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 8px;
        text-transform: uppercase;
        -webkit-transition: padding-top 0.1s ease-out;
        -moz-transition: padding-top 0.1s ease-out;
        -o-transition: padding-top 0.1s ease-out;
        -ms-transition: padding-top 0.1s ease-out;
        transition: padding-top 0.1s ease-out;
        
        &:last-child { margin-right: 0; }
        &:hover { padding-top: 18px; }

        &.selected[href="#about"]       { background-color: $colorAbout; }
        &.selected[href="#projects"]    { background-color: $colorProjects; }
        &.selected[href="#contact"]     { background-color: $colorContact; }
    }
}

footer {
    bottom: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;

    a {
        &:hover,
        &.selected { background-color: $colorImprint; }
    }

    .fb-like { margin-left: 25px; }
}



/* ==========================================================================
   helper classes
   ========================================================================== */

.right {
    text-align: right;
}

.hidden {
    display: none;
}

.protected {
    unicode-bidi: bidi-override;
    direction: rtl;
}


/*
 * not supported browsers
 */
 
.warning {
    background-color: #d60000;
    display: none;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    a:hover { text-decoration: underline; }
 }

.no-js, 
.no-jmpress {
    nav { top: 25px; }
    .hidden { display: block; }
    #impress { margin-top: 75px; }
    section {
        margin-bottom: 50px;

        &.headline,  
        &.project   { display: block; }
        p.center    { display: none; }
    }
}

.no-js {
    #noJs { display: block; }
}

.no-jmpress {
    #stoneAge { display: block; }
}



/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}